<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Chip </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-chip>
    <ion-label>Padrão</ion-label>
  </ion-chip>
  
  <ion-chip>
    <ion-label color="secondary">Tema label secundary</ion-label>
  </ion-chip>
  
  <ion-chip color="secondary">
    <ion-label color="danger">tema secundary no chip, dark no label</ion-label>
  </ion-chip>
  
  <ion-chip>
    <ion-icon name="pin"></ion-icon>
    <ion-label>Com icone simples</ion-label>
  </ion-chip>
  
  <ion-chip>
    <ion-icon name="heart" color="danger"></ion-icon>
    <ion-label>Com icones antes e depois</ion-label>
    <ion-icon name="star" color="primary"></ion-icon>
  </ion-chip>
  
  <ion-chip>
    <ion-label>Button Chip</ion-label>
    <ion-icon name="close-circle"></ion-icon>
  </ion-chip>
    
  <ion-chip>
    <ion-avatar>
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>Avatar Chip</ion-label>
    <ion-icon name="close-circle"></ion-icon>
  </ion-chip>
</ion-content>
