<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Animação </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img  class="animate__animated animate__bounce animate__infinite" src="..\assets\Ionic.png"></ion-img>


  <ion-img  class="animate__animated animate__heartBeat  animate__infinite" src="..\assets\Ionic.png"></ion-img>


<br>
<h3>Lista com avatar</h3>
<ion-list class="animate__animated animate__fadeInRight">
   <ion-item>
    <ion-avatar slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>
      <h2>Giovani</h2>
      <h3>Desenvolvedor Full Stack</h3>
      <p>Esta cursando ionic 5.</p>
    </ion-label>
   </ion-item>
</ion-list>


<ion-button class="animate__animated animate__backInDown">
  <ion-icon slot="icon-only" name="bug"></ion-icon>
</ion-button>


</ion-content>
