<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Select</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-list-header>Select Simples</ion-list-header>
    <ion-item>
      <ion-label>Sexo</ion-label>
      <ion-select placeholder="Selecione">
        <ion-select-option value="M">Masculino</ion-select-option>
        <ion-select-option value="F">Feminino</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Cor</ion-label>
      <ion-select placeholder="Selecione" value="blue" okText="Selecionar" cancelText="Cancelar">
        <ion-select-option value="pink">Rosa</ion-select-option>
        <ion-select-option value="blue">Azul</ion-select-option>
        <ion-select-option value="red">Vermelho</ion-select-option>
        <ion-select-option value="black">Preto</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>



  <ion-list>
    <ion-list-header>
      <ion-label>
        Multiplo Select
      </ion-label>
    </ion-list-header>
  
    <ion-item>
      <ion-label>Cores</ion-label>
      <ion-select multiple="true" placeholder="Selecione" value="blue" okText="Selecionar" cancelText="Cancelar">
        <ion-select-option value="pink">Rosa</ion-select-option>
        <ion-select-option value="blue">Azul</ion-select-option>
        <ion-select-option value="red">Vermelho</ion-select-option>
        <ion-select-option value="black">Preto</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Pets</ion-label>
      <ion-select multiple="true" [value]="['bird', 'dog']" okText="Selecionar" cancelText="Cancelar">
        <ion-select-option value="bird">Bird</ion-select-option>
        <ion-select-option value="cat">Cat</ion-select-option>
        <ion-select-option value="dog">Dog</ion-select-option>
        <ion-select-option value="honeybadger">Honey Badger</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>




  <ion-list>
    <ion-list-header>
      <ion-label>
        Interface Options
      </ion-label>
    </ion-list-header>
  
    <ion-item>
      <ion-label>Alert</ion-label>
      <ion-select [interfaceOptions]="customAlertOptions" interface="alert" multiple="true" placeholder="Select One">
        <ion-select-option value="bacon">Bacon</ion-select-option>
        <ion-select-option value="olives">Black Olives</ion-select-option>
        <ion-select-option value="xcheese">Extra Cheese</ion-select-option>
        <ion-select-option value="peppers">Green Peppers</ion-select-option>
        <ion-select-option value="mushrooms">Mushrooms</ion-select-option>
        <ion-select-option value="onions">Onions</ion-select-option>
        <ion-select-option value="pepperoni">Pepperoni</ion-select-option>
        <ion-select-option value="pineapple">Pineapple</ion-select-option>
        <ion-select-option value="sausage">Sausage</ion-select-option>
        <ion-select-option value="Spinach">Spinach</ion-select-option>
      </ion-select>
    </ion-item>
  
    <ion-item>
      <ion-label>Popover</ion-label>
      <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Select One">
        <ion-select-option value="brown">Brown</ion-select-option>
        <ion-select-option value="blonde">Blonde</ion-select-option>
        <ion-select-option value="black">Black</ion-select-option>
        <ion-select-option value="red">Red</ion-select-option>
      </ion-select>
    </ion-item>
  
    <ion-item>
      <ion-label>Action Sheet</ion-label>
      <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet" placeholder="Select One">
        <ion-select-option value="red">Red</ion-select-option>
        <ion-select-option value="purple">Purple</ion-select-option>
        <ion-select-option value="yellow">Yellow</ion-select-option>
        <ion-select-option value="orange">Orange</ion-select-option>
        <ion-select-option value="green">Green</ion-select-option>
      </ion-select>
    </ion-item>
  
  </ion-list>


  <h3>Com lista Dinamica</h3>
  
  <ion-list>
    <ion-list-header>
      <ion-label>
        Objects as Values (compareWith)
      </ion-label>
    </ion-list-header>
  
    <ion-item>
      <ion-label>Users</ion-label>
      <ion-select> <!--[compareWith]="compareWith"-->
        <ion-select-option *ngFor="let user of users">{{user.first + ' ' + user.last}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>


</ion-content>