<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Content</ion-title>
  </ion-toolbar>
</ion-header>

<!--Titulo fixo e centralizado-->
<div slot="fixed" class="ion-text-center">
  <h1 position="center" >Trabalhando com Scroll</h1>
</div>  

<ion-content [scrollEvents]="true" 
  (ionScrollStart)="logScrollStart()" 
  (ionScroll)="logScrolling($event)"
  (ionScrollEnd)="logScrollEnd()">

  <h2>Lista Fixa</h2>  
  <ion-list>
    <ion-button expand="block" fill="outline" (click)="inicioScroll()" >Final do Scroll</ion-button>
    <ion-item>
      <ion-label>Ionic 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ionic 5</ion-label>
    </ion-item>  
    <ion-item>
      <ion-label>Ionic 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ionic 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ionic 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ionic 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ionic 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ionic 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ionic 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ionic 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ionic 5</ion-label>
    </ion-item>

    <ion-button expand="block" fill="outline" (click)="finalScroll()">Inicio do Scroll</ion-button>
  </ion-list>  


  <h2>Lista Dinamica</h2>  
  <ion-list>
    <ion-button expand="block" fill="outline" (click)="inicioScroll()" >Final do Scroll</ion-button>
    <ion-item *ngFor="let item of lista">
      <ion-label>Item {{item}}</ion-label>      
    </ion-item>
    <ion-button expand="block" fill="outline" (click)="finalScroll()">Inicio do Scroll</ion-button>
  </ion-list>  
  
</ion-content>