<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">      
      <ion-menu-button></ion-menu-button>   
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  

  <ion-list class="animate__animated animate__backInRight">
    <ion-list-header>
      <h2> Dicas</h2>
    </ion-list-header>

      <ion-item >
        <ion-label>                 
          <h3>Formata Codigo</h3>
          <p>Alt + Shift + F</p>
        </ion-label>        
      </ion-item>
      

      <ion-item >
        <ion-label>                 
          <h3>Add no final /ngx</h3>          
          <p>Não reconhece o type mesmo após o import.</p>
        </ion-label>      
        
      </ion-item>

  </ion-list>



</ion-content>
