<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Slides</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <img src="..\assets\Ionic.png">
    </ion-slide>

    <ion-slide>
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-slide>

    <ion-slide>
      <img src="..\assets\Ionic.png">
    </ion-slide>
  </ion-slides>

</ion-content>