<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Input</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Default Input -->
  <ion-input></ion-input>

  <!-- Input with value -->
<ion-input value="valor padrão"></ion-input>


<!-- Input with placeholder -->
<ion-input placeholder="Informe seu Nome"></ion-input>

<!-- Input with clear button when there is a value -->
<ion-input clearInput value="com opção de limpar"></ion-input>

<!-- Number type input -->
<ion-input type="number" value="1234"></ion-input>

<!-- Number type input -->
<ion-input type="email" value="email"></ion-input>

<!-- Number type input -->
<ion-input type="tel" value="telefone"></ion-input>

<!-- url type input -->
<ion-input type="url" value="url"></ion-input>

<!-- search type input -->
<ion-input type="search" value="busca"></ion-input>

<!-- password type input -->
<ion-input type="password" value="Informe sua senha"></ion-input>


<!-- Disabled input -->
<ion-input value="Disabled" disabled></ion-input>

<!-- Readonly input -->
<ion-input value="Readonly" readonly></ion-input>




<!-- Inputs with labels -->
<ion-item>
  <ion-label>sem posição</ion-label>
  <ion-input placeholder="Informe seu nome"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Floating Label</ion-label>
  <ion-input ></ion-input>
</ion-item>

<ion-item>
  <ion-label position="fixed">Fixed Label</ion-label>
  <ion-input placeholder="Informe seu nome"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked">Stacked Label</ion-label>
  <ion-input ></ion-input>
</ion-item>



<!-- Input with placeholder -->
<ion-input color='danger' placeholder="input com tema"></ion-input>
<ion-input color='primary' placeholder="input com tema"></ion-input>



</ion-content>


